digraph NAUDE_HOME  {
	fontname = "helvetica:bold";

	node [shape=diamond, fontname = "helvetica:bold"]; {		
		node [label="Cox\nInternet", color=darkorange1, style=filled] cox;
        }

	node [shape=box, fontname = "helvetica:bold"]; {		
		node [label="Arris SB6183\nCable Modem\n(Office)", color=firebrick1, style=filled] cablemodem;
		node [label="GORILLA\npfSense FW/Router\n(Office)", color=deepskyblue1, style=filled] router;
		node [label="1Gb Switch\n(Office)", color=deepskyblue1, style=filled] switch1;
		node [label="1Gb Switch\n(Living Room)", color=deepskyblue1, style=filled] switch2;
		node [label="Ubiquiti Wifi AP\n(Living Room)", color=deepskyblue1, style=filled] ap1;
	}

	node [shape=box, color=darkolivegreen2, style=filled, fontname = "helvetica:bold"]; {
		node [label="WILDE\nWindows Desktop\n(Office)"] wilde; 
		node [label="ZEBRA\nFedora Laptop"] zebra; 
		node [label="AARDVARK\nDebian Raspberry Pi\n(Office)"] aardvark; 
		node [label="HYRAX\nDebian Raspberry Pi\n(Office)"] hyrax; 
		node [label="GIRAFFE\nFedora Server\n(Office)"] giraffe; 
		node [label="SPRINGBOK\nDebian Raspberry Pi\n(Garage)"] springbok; 
		node [label="NIKKI\nMac Laptop"] nikki_mac; 
	}

	node [shape=box, color=deeppink1, style=filled, fontname = "helvetica:bold"]; {
		node [label="Roku\n(Living Room)"] roku; 
		node [label="Roku\n(Bedroom)"] roku2; 
		node [label="OSTRICH\nChromecast"] chromecast; 
		node [label="Onkyo Receiver"] receiver; 
		node [label="Samsung TV\n(Living Room)"] tv; 
		node [label="Samsung TV\n(Bedroom)"] tv2; 
		node [label="Nintendo Switch"] nintendo_switch; 
		node [label="Samsung Blueray"] blueray; 
	}

	node [shape=box, color=turquoise, style=filled, fontname = "helvetica:bold"]; {
		node [label="Chris's Pixel Phone"] chris_phone; 
		node [label="Nikki Pixel XL Phone"] nikki_phone; 
		node [label="Chris' Dell Tablet"] chris_tab; 
		node [label="Nikki's Samsung Tablet"] nikki_tab; 
	}

	node [shape=ellipse, color=gold2, fontname = "helvetica:bold"]; {
		node [label="2.5TB\nHard Drive"] hdd1; 
		node [label="Weather\nConsole"] wconsole;
		node [label="HP Laserjet\nPrinter\n(Office)"] printer1;
		node [label="3D Printer\n(Garage)"] printer2;
	}

	node [shape=hexagon, color=burlywood3, fontname = "helvetica:bold"]; {
		node [label="Weather\nStation\n(Backyard)"] weather;
	}

	cox -> cablemodem [label="coax",fontname = "helvetica:bold",dir="both"];

	roku2 -> tv2 [label="hdmi",fontname = "helvetica:bold"];

	cablemodem -> router [label="wan (red)",fontname = "helvetica:bold",dir="both"];

	router -> switch1 [label="lan (yellow)",fontname = "helvetica:bold",dir="both"];
	switch1 -> switch2 [label="lan",fontname = "helvetica:bold",dir="both"];

	switch1 -> giraffe [label="lan",fontname = "helvetica:bold",dir="both"];
	switch1 -> wilde [label="lan",fontname = "helvetica:bold",dir="both"];
	switch1 -> aardvark [label="lan",fontname = "helvetica:bold",dir="both"];

	switch2 -> ap1 [label="lan",fontname = "helvetica:bold",dir="both"];

	# ap1 -> tv [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> zebra [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> nikki_mac [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> chromecast [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> hyrax [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> springbok [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> nintendo_switch [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> roku2 [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> chris_phone [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> chris_tab [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> nikki_phone [label="wifi",fontname = "helvetica:bold",dir="both"];
	ap1 -> nikki_tab [label="wifi",fontname = "helvetica:bold",dir="both"];

	nintendo_switch -> receiver [label="hdmi",fontname = "helvetica:bold"];
	roku -> receiver [label="hdmi",fontname = "helvetica:bold"];
	chromecast -> receiver [label="hdmi",fontname = "helvetica:bold"];
	blueray -> receiver [label="hdmi",fontname = "helvetica:bold"];
	receiver -> tv [label="hdmi",fontname = "helvetica:bold"];

	# switch2 -- receiver [label="lan",fontname = "helvetica:bold",dir="both"];
	switch2 -> roku [label="lan",fontname = "helvetica:bold",dir="both"];
	
	weather -> wconsole [label="radio",fontname = "helvetica:bold"];
	wconsole -> giraffe [label="usb",fontname = "helvetica:bold"];
	wilde -> hdd1 [label="usb",fontname = "helvetica:bold",dir="both"];
	hyrax -> printer1 [label="usb",fontname = "helvetica:bold",dir="both"];
	springbok -> printer2 [label="usb",fontname = "helvetica:bold",dir="both"];

	label = "\n\nNaude Home Network\n{{TIMESTAMP}}";
	fontsize=20;
}
